@import "tailwindcss";

html,
body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

/* LIGHT THEME */
:root {
  --color-bg: #f9fafb;
  --color-text: #111827;
  --color-title: #0ea5e9;
  --color-muted: #6b7280;
  --color-border: #e5e7eb;
  --color-accent: #0ea5e9;
  --color-accent-hover: #38bdf8;
}

/* DARK THEME */
.dark {
  --color-bg: #0d1117;
  --color-text: #d1d5db;
  --color-title: #d1d5db;
  --color-muted: #6b7280;
  --color-border: #1f2937;
  --color-accent: #0ea5e9;
  --color-accent-hover: #38bdf8;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}


/* HACKER THEME */
.hacker {
  --color-bg: #000000;
  --color-text: #00ff00;
  --color-title: #00ff9c;
  --color-muted: #39ff14;
  --color-border: #00aa00;
  --color-accent: #00ff00;
  --color-accent-hover: #39ff14;
}

body.hacker {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Courier New', monospace;
}